.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  background-color: black;
  padding: 0.5em 1em;
  gap: 1em;
}

.nav-menu-list {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 1em;
  list-style: none;
}

.nav-item {
  transition: color 0.2s ease;
}

.nav-item:hover {
  color: #94a3b8;
}
